.left{
 text-align: left;
}
.others{
  padding-left: 0;
  padding-right: 0;
}
.double{
  padding-right: 5px;
}
a.center{
    text-align: center;
}
.center{
  text-align: center;

}
.right{
  text-align: right;
  padding-left: 65%;
  padding-top: 1%;
  color: #5A647A;
  position: fixed;
}
h1{
  text-align: center;

}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #F0E0D6;
   color: #5A647A;
   border-color: #911821;
   text-align: center;
}
h2{
 padding-left: -50px;
}
.content{
 padding-left: 5%;
}
.buffer{
}
.art{
  padding-bottom: 10px;
}
.artboxes{
  width: 100%;
}
.artlist{
}
a{
 color: #F0E0D6;
}
a:hover{
  color: #C0B0A6;
}
.list-group-item {
background-color: #03707a;
border:solid #00606c;
border-top-style: solid;
border-top-width: 4px;
border-top-color: #00606c
border-right-color: #00606c
border-right-style: solid;
border-right-width: 4px;
border-bottom-color: #00606c
border-bottom-style: solid;
border-bottom-width: 4px;
border-left-color: #00606c
border-left-style: solid;
border-left-width: 4px;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
border-radius: 16px;
border-top-left-radius: 16px;
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;
border-bottom-left-radius: 16px;
}
