.indent{

}
.double{
  text-indent: 10%;
}
.center{
  text-align: center;
}
h1{
  text-align: center;

}
h2{
  font-size: 25px;
  text-indent: -10%;
}
.content{
  padding-left: 25%;
  padding-right: 45%;
  padding-bottom: 4em;
}
