extends layout

block content
 .col-xs-12.col-sm-8
  h1 ART list
  .row.list-group
   .col-xs-11.col-sm-6.col-lg-4.list-group-item
    img.col-xs-11.col-sm-6.col-lg-4.artboxes#elk(src='/img/elk2.jpg', title='elk')
    h1
     a(href='/art/elk' size='30') "Elk"
   .col-xs-11.col-sm-6.col-lg-4.list-group-item
    img.col-xs-11.col-sm-6.col-lg-4.artboxes#flower( src='/img/callalilly1.jpg', title='callalilly', alt='now you see me?')
    h1
     a(href='/art/callalilly' size='30') "Callalilly"

   .col-xs-11.col-sm-6.col-lg-4.list-group-item
    img.col-xs-11.col-sm-6.col-lg-4.artboxes#elk(src='/img/elk2.jpg', title='elk')
    h1
     a(href='/art/elk' size='30') "Elk"
   .col-xs-11.col-sm-6.col-lg-4.list-group-item
    img.col-xs-11.col-sm-6.col-lg-4.artboxes#flower( src='/img/callalilly1.jpg', title='callalilly', alt='now you see me?')
    h1
     a(href='/art/callalilly' size='30') "Callalilly"

   .col-xs-11.col-sm-6.col-lg-4.list-group-item
    img.col-xs-11.col-sm-6.col-lg-4.artboxes#elk(src='/img/elk2.jpg', title='elk')
    h1
     a(href='/art/elk' size='30') "Elk"
   .col-xs-11.col-sm-6.col-lg-4.list-group-item
    img.col-xs-11.col-sm-6.col-lg-4.artboxes#flower( src='/img/callalilly1.jpg', title='callalilly', alt='now you see me?')
    h1
     a(href='/art/callalilly' size='30') "Callalilly"
   .col-xs-11.col-sm-6.col-lg-4.list-group-item
    img.col-xs-11.col-sm-6.col-lg-4.artboxes#elk(src='/img/elk2.jpg', title='elk')
    h1
     a(href='/art/elk' size='30') "Elk"
   .col-xs-11.col-sm-6.col-lg-4.list-group-item
    img.col-xs-11.col-sm-6.col-lg-4.artboxes#flower( src='/img/callalilly1.jpg', title='callalilly', alt='now you see me?')
    h1
     a(href='/art/callalilly' size='30') "Callalilly"



 .col-xs-12.col-sm-4
  h1 Art blurb
  stuff There's an answer here,
  |<br> If I look hard enough
  |<br> There's a reason why I always reach for the harder stuff
  |<br> It wasn't my daddy's way
  |<br> He was down in the mines all day
  |<br> I know he wanted more than mouths to feed and bills to pay
  |<br> Maybe the Cumberland Gap just swallows you whole
