extends layout
block dome
 title=title
block content
 .col-xs-12.col-sm-8(ng-controller='artController')
  h1 Sculpture
  label(for=filter) Filter Pieces: &ensp;
  input#filter(type="text", name="filter", ng-model="textFilter")
  h1 {{message}}
  .row.list-group
    .col-xs-11.col-sm-6.col-lg-4.list-group-item.artlist(ng-repeat="piece in art.pieces | filter : textFilter")
     a(href='/art/{{piece._id}}')
      img.col-xs-11.col-sm-6.col-lg-4.artboxes#elk(src='/img/{{piece.imagetitle}}.jpg', title='{{piece.title}}')
     h1
      a(href='/art/{{piece._id}}' size='30') "{{piece.title}}"

 .col-xs-12.col-sm-4
  h1 Artist's Statement
  stuff
  |<br>
  |<br>There is a curve there
  |<br>Bending steel rod cold
  |<br>Clean like it wants to change
  |<br>Not like childhood doodles
  |<br>Endless scribbles never inside the lines
  |<br>
  |<br>They don’t tell you that
  |<br>
  |<br>There is a strength in simplicity
  |<br>There is a strength in steel
  |<br>There is a simplicity to nature
  |<br>There is a strength in bone
  |<br>There is a simplicity in lines
  |<br>There is a simplicity to symmetry
  |<br>And a life in asymmetry
  |<br>
  |<br>That you can breathe
  |<br>Like god into clay
  |<br>Into metal
  |<br>In continuous firing
  |<br>Bending and rust
  |<br>
  |<br>
  h1 Helpful Info
  info If you'd like to purchase any of my art, or commission any art,
  |<br> contact me at:
  | #[a( href='mailto:colinxenofish@gmail.com' ) ColinXenoFish@gmail.com],
  |<br> or go to my
  | #[a( href='https://www.etsy.com/shop/ColinXenoFishArt' ) Etsy shop].
