extends layout

block content
 .col-sm-2
 .col-xs-12.col-sm-6
  img#elk(src='/img/elk1.jpg' width='100%')
 .col-xs-12.col-sm-4
  h1.title "Elk"
  .col-sm-2
  .col-xs-12.col-sm-8
   year Year: 2017 <br>
   medium Medium: steel, wood (base) <br>
   location Location: Tacoma, WA <br>
   status Status: For Sale <br>
   description This is a description of the art <br>
   images
