extends layout

block content
 .buffer
  .col-xs-1.col-sm-2
 .row
  .col-sm-8.col-xs-10
    h1 Colin Xeno Fish
    .center
     a(href="mailto:ColinXenoFish@Gmail.Com") ColinXenoFish@Gmail.Com
     br
     | (510)-387-6089
    h2 Education:
    strong University of Puget Sound – Class of 2017
    div.double Bachelor of Science in Computer Science and Mathematics
    div.double Double Major: Computer Science and Math- Minor: Physics
    h2 Projects:
    strong BlueJ Clustering
    div.indent Spring 2017, CSCI 440 Capstone in Computer Science
     br
     |Languages: Ruby, SQL, Dot
     ul
      li Clustered student Java programs by syntax
      li Thousands of instances parsed and used through a system for cataloging introductory objective programing classes
      li Developed method to discern student development paths from clusters
    div.indent #[strong SNEAT] (Snake NeuroEvolution of Augmenting Topologies)
    div.indent Spring 2017, CSCI 431 Artificial Intelligence
     br
     | Languages: Java, Lua
     ul
      li Created genetic algorithm to augment and train a recurrent neural network
      li Thousand of Generations breed through novelty and success
      li Used the system to build a neural network capable of playing the game snake.
    div.indent #[strong Crazy Chess]
     br
     |Fall 2016, CSCI 240 Software Engineering
     br
     |Languages: MEAN.js Stack (MongoDB, Express, Angular, Node)
     ul
      li Created a system for real time manipulation of a chess board across many participants with a team
      li Adapted MEAN.js boilerplate for our website
      li Updated statistics automatically with the moves interfacing with a mongo database
    h2 Languages:
    div.indent Java, Haskell, Ruby, Javascript, MySQL, Prolog, MEAN stack, LaTeX
    h2 Experience:
    div.indent Diner Worker- University of Puget Sound Diner
     br
     | Tacoma, WA, October 2013- May 2017
     ul
      li Served, Cooked, Cleaned, and Cashiered for many of the University Diner’s food stations
      li Needed to be flexible to respond timely to the situation
      li Learned the necessity of teamwork and being held accountable for work for the customer’s sake
    h2 Other:
    div.indent Founder of the university of puget sound house of pancakes
    div.indent Metal Sculptor (see: #[a( href='/Art' ) art].)
