extends layout

block dome
 title(ng-controller="pieceController" model=id) {{title}}
block content
 .controller(ng-controller="pieceController" model=id )
   .col-xs-12.col-sm-6.col-sm-offset-1
    .art
     a(href='/img/{{primary}}.jpg')
      img(src='/img/{{primary}}.jpg', width='100%', ng-hide="type!='image'")
    .art(ng-repeat="video in art.info.videos")
     .col-sm-12.col-md-10.col-md-offset-1
      video(width='100%',ng-hide='video.location!=primary||type=="image"', controls)
       source(src='/vid/{{video.location}}.mp4', type='video/mp4', id='theVideo' )
   .col-xs-12.col-sm-5
    .col-xs-12
     h1 Images:
     .row.list-group
      .col-xs-3.list-group-item.artlist(ng-hide="art.info.images.length<1")
       img( src='/img/{{art.info.images[0].location}}.jpg',  width='100%', ng-mobile-click="changePrimary(art.info.images[0].location,'image')", title='{{art.info.images[0].alt}}', ng-hide="art.info.images.length<1")
      .col-xs-3.list-group-item.artlist(ng-hide="art.info.images.length<2")
       img( src='/img/{{art.info.images[1].location}}.jpg',  width='100%', ng-mobile-click="changePrimary(art.info.images[1].location,'image')", title='{{art.info.images[1].alt}}', ng-hide="art.info.images.length<2")
      .col-xs-3.list-group-item.artlist(ng-hide="art.info.images.length<3")
       img( src='/img/{{art.info.images[2].location}}.jpg',  width='100%', ng-mobile-click="changePrimary(art.info.images[2].location,'image')", title='{{art.info.images[2].alt}}', ng-hide="art.info.images.length<3")
      .col-xs-3.list-group-item.artlist(ng-hide="art.info.images.length<4")
       img( src='/img/{{art.info.images[3].location}}.jpg',  width='100%', ng-mobile-click="changePrimary(art.info.images[3].location,'image')", title='{{art.info.images[3].alt}}')
    .col-xs-12
      h1 {{videosStatus}}
      .row.list-group
       .col-xs-3.list-group-item.artlist(ng-hide="art.info.videos.length<1")
        button(ng-click="changePrimary(art.info.videos[0].location,'video')" ) {{art.info.videos[0].location}}
       .col-xs-3.list-group-item.artlist(ng-hide="art.info.videos.length<2")
        button(ng-click="changePrimary(art.info.videos[1].location,'video')" ) {{art.info.videos[1].location}}
       .col-xs-3.list-group-item.artlist(ng-hide="art.info.videos.length<3")
        button(ng-click="changePrimary(art.info.videos[2].location,'video')" ) {{art.info.videos[2].location}}
       .col-xs-3.list-group-item.artlist(ng-hide="art.info.videos.length<4")
        button(ng-click="changePrimary(art.info.videos[3],'video')" ) {{art.info.videos[3].location}}
    h1.title {{art.info.title}}
    year Year: {{art.info.year}} <br>
    medium Medium: {{art.info.medium}} <br>
    location Location: {{art.info.location}}<br>
    status Status: {{art.info.status}} <br>
    description {{art.info.description}} <br>
