extends layout

block dome
  title= title
  script(src='/javascripts/p5.js')
  script(src='/javascripts/geosketch.js')
block content

  .col-xs-12.col-sm-6.col-sm-offset-3
   script(src='/javascripts/geosketch.js')
  .col-xs-12.col-sm-4
   input(type="text" onChange="parseRotators(this.value)" value='5 -7 89')
   <br>
   draw Draw Image: &nbsp;
   drawButtons
    label(for='on')  On &nbsp;
    input(type="radio" name='draw' id='on' checked onclick='setDraw(true)')
    label(for='off')  &nbsp; Off &nbsp;
    input(type="radio" name='draw' id="off" onclick='setDraw(false)')
   <br>
   draw Show Vectors: &nbsp;
   vectorsButtons
    label(for='on')  On &nbsp;
     input(type="radio" name='vector' id='on' checked onclick='setVect(true)')
     label(for='off')  &nbsp; Off &nbsp;
     input(type="radio" name='vector' id="off" onclick='setVect(false)')
